.highlighttext{
    font-family: "Rubik";
    font-size: 72px;
    text-align: center;
    text-shadow: black 2px 2px, black 2px -2px, black -2px 2px, black -2px -2px;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-top: 30px;
}

.highlightlink{
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    width: 500px;
    margin: 5px;
    background-color: #ffd700;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 100px;
    border-width: 1.5px;
}

.highlightlink:hover{
    background-color: #c4a604;
}

.highlightlink:visited{
    color: black;
}

.blocktitle{
    font-family: "Rubik";
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 5px;
}

.blockpara{
    font-family: "Poppins";
    font-size: 20px;
}

.zeroblock{
    height: 300px;
    background-color: #001f3f;
    padding-bottom: 0;
}

.firstblock{
    height: 300px;
    background-color: black;
    padding-bottom: 0;
}

.secondblock{
    height: 300px;
    background-color: #001f3f;
    padding-bottom: 0;
}

.thirdblock{
    height: 300px;
    background-color: black;
    padding-bottom: 0;
}

.zeroblocktext{
    display: inline-block;
    margin-top: 40px;
    margin-right: 5%;
    float: right;
}

.movielist{
    margin-right: auto;
    height: 300px;
    width: 535px;
    display: inline-block;
    position: relative;
    float: left;
}

.firstblocktext{
    display: inline-block;
    margin-top: 65px;
    margin-left: 5%;
}

.CRT{
    margin-left: auto;
    height: 300px;
    width: 535px;
    display: inline-block;
    position: relative;
    float: right;
}

.secondblocktext{
    display: inline-block;
    margin-top: 45px;
    margin-right: 5%;
    float: right;
}

.room{
    margin-right: auto;
    height: 300px;
    width: 535px;
    display: inline-block;
    position: relative;
    float: left;
}

.thirdblocktext{
    display: inline-block;
    margin-top: 65px;
    margin-left: 5%;
}

.castle{
    margin-left: auto;
    height: 300px;
    width: 535px;
    display: inline-block;
    position: relative;
    float: right;
}

.movie{
    margin-left: 3.1%;
    margin-right: 3.1%;
    display: inline-block;
    text-align: center;
}

.movieheader{
    font-family: "Rubik";
    font-size: 30px;
    font-weight: 500;
    color: #ffd700;
    text-align: center;
    padding-top: 20px;
}

.movieposter{
    height: 339px;
    width: 225px;
    border: 3px solid #ffd700;
}

.movietext{
    font-family: "Poppins";
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

#bottommovietext{
    padding-bottom: 25px;
}

.backlink{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    width: 150px;
    /* margin: 5px; */
    background-color: #ffd700;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border-width: 1.5px;
}

.backlink:hover{
    background-color: #c4a604;
}

.backlink:visited{
    color: black;
}

.mainblock{
    height: 300px;
    background-image: url(movie.gif);
    background-position: center;
    margin-bottom: 0;
}

.viewmovie{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    width: 250px;
    margin: 5px;
    background-color: #ffd700;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border-width: 1.5px;
}

.viewmovie:hover{
    background-color: #c4a604;
}

.viewmovie:visited{
    color: black;
}

.blocksubtext{
    font-family: "Poppins";
    font-size: 14px;
}