.body{
    height: 500px;
}

.textheader{
    font-family: "Rubik";
    font-size: 30px;
    font-weight: 500;
    color: #ffd700;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.text{
    font-family: "Poppins";
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

.specialtext{
    font-family: "Poppins";
    font-size: 16px;
    text-align: center;
}

.select{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    width: 250px;
    margin: 5px;
    background-color: #ffd700;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border-width: 1.5px;
}

.select:hover{
    background-color: #c4a604;
}

.select:visited{
    color: black;
}

.input{
    text-align: center;
    padding-bottom: 30px;
}

#uniqueKey{
    width: 300px;
}

.table{
    margin-left: auto;
    margin-right: auto;
}

.option{
    width: 150px;    
}

.error{
    color: red;
    font-family: "Poppins";
    font-size: 14px;
}