<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reel Studio</title>
        <link rel="icon" href="logo.ico">
        <link rel="stylesheet" href="mainstyle.css">
        <link rel="stylesheet" href="homestyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@500&family=Space+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@100&family=Rubik:wght@400;500&family=Space+Mono&display=swap" rel="stylesheet">    
        <script src="https://kit.fontawesome.com/ab372eb9f5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <div class="header">
            <img class="logo" src="logo.png" alt="">
                <a class="mainlink" href="/movie">Book Now</a>
                <a class="mainlink" href="/retrievebooking">Retrieve Booking</a>
        </div>

        <div class="body">
            <div class="mainblock">
                <p class="highlighttext">REEL COMFORT.<br>YOUR PRIVATE MOVIE RETREAT.</p>
                <a class="highlightlink" href="/movie">Book Your Room Now</a>
            </div>

            <div class="zeroblock">
                <div class="zeroblocktext">
                    <p class="blocktitle">Wide Range of Movies</p>
                    <p class="blockpara">Pick & Choose from 10 Different Movies</p>
                    <a class="viewmovie" href="/movielist">View Movie List</a>
                </div>
                <img class="movielist" src="movies.jpg" alt="">
            </div>
            
            <div class="firstblock">
                <div class="firstblocktext">
                    <p class="blocktitle">Advanced Technology</p>
                    <p class="blockpara">State-of-the-art 20" CRT TV</p>
                </div>
                <img class="CRT" src="CRT.jpg" alt="">
            </div>
            
            <div class="secondblock">
                <img class="room" src="room.jpg" alt="">
                <div class="secondblocktext">
                    <p class="blocktitle">Massive Location</p>
                    <p class="blockpara">6 Total Rooms, 3 Different Room Sizes</p>
                    <p class="blocksubtext"><i class="fa-solid fa-users"></i> Small: 1-2 pax | Medium: 3-4 pax | Large: 5-6 pax</p>
                </div>
            </div>
            
            <div class="thirdblock">
                <div class="thirdblocktext">
                    <p class="blocktitle">Accessible Location</p>
                    <p class="blockpara">Alnwick Castle a.k.a Hogwarts Castle</p>
                </div>
                <img class="castle" src="castle.jpg" alt="">
            </div>            
        </div>
        
        <div class="footer">
            <p>Address: Alnwick Castle NE66 1NQ, England, United Kingdom</p>
            <p>Connect with us</p>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>

    </body>
</html>