<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <a href="/home">
            <h2>LOGO</h2>
        </a>

        <h3>Choose a Movie</h3>

        <table>
            <tr data-th-each="movie: ${movieList}">
                <td data-th-text="${movie.title}"></td>
                <td data-th-text="${movie.year}"></td>
                <td><img data-th-src="${movie.poster}" alt=""></td>
                <td>
                    <a data-th-href="@{/movie/{title}(title=${movie.title})}">
                        <button>Select</button>
                    </a>
                </td>
            </tr>
        </table>
            
    </body>
</html>