<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <a href="/home">
            <h2>LOGO</h2>
        </a>

        <h2>Booking Successful!</h2>

        <p>A confirmation email has been sent to <span data-th-text="${formDetails.email}"></span></p>

        <a href="/booking">
            <button>View Your Booking</button>
        </a>

        <a href="/home">
            <button>Back to Home</button>
        </a>

    </body>
</html>